<%= render partial: '/shared/header_without_projecttitle', locals: {project: nil, linkVariable: projects_path(), section: 'Account bearbeiten'} %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h5> Account löschen </h5>
    <hr>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <p>Unglücklich? <%= button_to "Account löschen", registration_path(resource_name), data: { confirm: "Sind Sie sicher?" }, method: :delete, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color--indigo-500' %></p>
  </div>
</div>





