<h5> Meine Projekte </h5>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Projektnummer</th>
      <th>Titel</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
  	<% @projects.each do |project| %>
	    <tr>
	      <td class="mdl-data-table__cell--non-numeric"><%= project.id %></td>
	      <td><%= project.title %></td>
	      <td><%= project.description %></td>
	    </tr>
    <% end %>
  </tbody>
</table>