// Place all the styles related to the pbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.textfield_div{
  width: 130px;
}

.button_div{
  width: 20px;
}

.container_div {
  width: 150px;
}
