// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-header{
	background-color: rgb(66,66,66)!important;

	.project-description{
    margin-left:10px;
    line-height: 10;
    font-size: 15px;
    font-style: italic;
	}

  .header-chevron{
    margin-left:10px;
  }
}

#create-product-div{
	display:none;
}

.structure.mdl-card {
  width: 100%;
  height: 320px;
}
.structure > .mdl-card__title {
  color: #fff;
  text-align: bottom center 15%;
  background: url('Business-Table.jpg') top no-repeat #3F51B5 ;
  background-size: 100% 100%;

}

.picture_pbs > .structure {
  background: url('construction-PBS.jpg') top no-repeat #3F51B5 ;
  background-size: 100% 100%;
}

.picture_rbs > .structure {
  background: url('Business-Table.jpg') top no-repeat #3F51B5 ;
  background-size: 100% 100%;
}

.format > .mdl-card__title-text {
  display: block;
  font-weight: bold;
  font-family:'Arial';
  text-align: center;
}