// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-header{
	background-color: rgb(66,66,66)!important;

	.project-description{
    margin-left:10px;
    line-height: 10;
    font-size: 15px;
    font-style: italic;
	}

  .header-chevron{
    margin-left:10px;
  }
}

#create-product-div{
	display:none;
}

.structure.mdl-card {
  width: 100%;
  height: 320px;
}

.structure > .mdl-card__title {
  text-shadow: 0 0 10px black;
  color: #fff;
  text-align: bottom center 15%;
  background-size: 100% 100%;
}

.pbs-card{
  .structure > .mdl-card__title {
    background: url('product_breakdown.png') top no-repeat #3F51B5 ;
    background-size: 100% 100%;
  }
}

.wbs-card{
  .structure > .mdl-card__title {
    background: url('construction-PBS.png') top no-repeat #3F51B5 ;
    background-size: 100% 100%;
  }
}

.rbs-card{
  .structure > .mdl-card__title {
    background: url('ressource_breakdown1.png') top no-repeat #3F51B5 ;
    background-size: 100% 100%;
  }
}

.ram-card{
  .structure > .mdl-card__title {
    background: url('matrix.png') top no-repeat #3F51B5 ;
    background-size: 100% 100%;
  }
}

.delphi-card{
  .structure > .mdl-card__title {
    background: url('delphi.png') top no-repeat #3F51B5 ;
    background-size: 100% 100%;
  }
}

.project-card{
  .structure > .mdl-card__title {
    background: url('Business-Table.png') top no-repeat #3F51B5 ;
    background-size: 100% 100%;
  }
}

.question-card{
  .structure > .mdl-card__title {
    background: url('question.jpg') top no-repeat #3F51B5 ;
    background-size: 100% 100%;
  }
}

.format > .mdl-card__title-text {
  display: block;
  font-weight: bold;
  font-family:'Arial';
  text-align: center;
}